<header>
  <h1 class='titlename'>Game Review Repository</h1>
  <div class='main_nav'>
    <nav class='homenav'>
      <ul>
        <li><a href='/genre'>Genre</a></li>
        <li><a href='/user'>User</a></li>
        <li><a href='/game'>Game</a></li>
        <li><a href='/review' class='currentpage'>Review</a></li>
        <li><a href='/format'>Format</a></li>
      </ul>
    </nav>
  </div>
</header>

<h1>Review Management</h1>

<div class='about'>
  <p>This is the Review Management page.  Here you can list all the reviews entered, add a new review, change an existing review, or delete a review.</p>
</div>

<nav>
  <ul>
    <li><a href="/review_read">List All Reviews</a></li>
    <li><a href="/review_add">Add a New Review</a></li>
    <li><a href="/review_change">Change a Review</a></li>
    <li><a href="/review_delete">Delete a Review</a></li>
    <li><a href="/home">Go to home page</a></li>
  </ul>
</nav>