<h1>Review Management</h1>

<ul>
  <li><a href="/review_read">List All Reviews</a></li>
  <li><a href="/review_add">Add a New Review</a></li>
  <li><a href="/review_change">Change a Review</a></li>
  <li><a href="/review_delete">Delete a Review</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>