<h1>Medium Management</h1>

<ul>
  <li><a href="/medium_read">List Mediums</a></li>
  <li><a href="/medium_games">List Games in a Medium</a></li>
  <li><a href="/medium_add">Add a New Medium</a></li>
  <li><a href="/medium_change">Change a Medium</a></li>
  <li><a href="/medium_delete">Delete a Medium</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>