<h1>Add Medium</h1>

  <p>Please fill out the form to add a medium</p>
<!--This form allows for input for a new medium name.  It returns the new medium name, called "medium[name]".  
  Sends a call to the "/medium_add_to_database" receiver -->
  <form action="/medium_add_to_database">
    <input type="text" placeholder="Genre Name" name="medium[name]">
    
    <button type="submit">Add medium</button>


<p><a href="/home">Go to home page</a></p>