<h1>User Management</h1>

<nav>
  <ul>
    <li><a href="/users_read">List Users</a></li>
    <li><a href="/users_reviews">List Reviews for User</a></li>
    <li><a href="/users_add">Add a New User</a></li>
    <li><a href="/users_change">Change a User</a></li>
    <li><a href="/users_delete">Delete a User</a></li>
    <li><a href="/home">Go to home page</a></li>
  </ul>
</nav>

