<h1>User Management</h1>

<div class='about'>
  <p>Here is the User Management page.  Here you can list all the users in the system and list all the reviews a given user has entered. You can also add a new user, change an existing user, or delete a user.</p>
</div>

<nav>
  <ul>
    <li><a href="/users_read">List Users</a></li>
    <li><a href="/users_reviews">List Reviews for User</a></li>
    <li><a href="/users_add">Add a New User</a></li>
    <li><a href="/users_change">Change a User</a></li>
    <li><a href="/users_delete">Delete a User</a></li>
    <li><a href="/home">Go to home page</a></li>
  </ul>
</nav>

<div class='main_nav'>
  <nav class='homenav'>
    <ul>
      <li><a href='/genre'>Genre Management</a></li>
      <li><a href='/user'>User Management</a></li>
      <li><a href='/game'>Game Management</a></li>
      <li><a href='/review'>Review Management</a></li>
      <li><a href='/format'>Format Management</a></li>
    </ul>
  </nav>
</div>