<h1>Reviews for a User</h1>

<p>Pick the User you'd like to list reviews for</p>

<form action="/users_list_of_reviews">
<!--This form lists each user currently in the database. It returns the id, named "user[list_id]"  
  Sends a call to the "/users_list_of_reviews receiver -->
  <select name="user[list_id]">
    <% @user.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
  
  <button type="submit">List this User's Reviews</button>
  
</form>

<p><a href="/home">Go to home page</a></p>