<h1>Game Management</h1>

<div class='about'>
  <p>This is the Game Management page.  Here you can add new games, change existing games, view reviews for specific games, or delete games from the database.</p>
</div>

<nav>
  <ul>
    <li><a href="/games_read">List Games</a></li>
    <li><a href="/games_reviews">List Reviews for Game</a></li>
    <li><a href="/games_add">Add a New Game</a></li>
    <li><a href="/games_change">Change a Game</a></li>
    <li><a href="/games_delete">Delete a Game</a></li>
    <li><a href="/home">Go to home page</a></li>
  </ul>
</nav>
