<h1>Reviews for a Game</h1>

<p>Pick the Game you'd like to list reviews for</p>

<form action="/games_list_of_reviews">
<!--This form lists each game currently in the database. It returns the id, named "game[list_id]"  
  Sends a call to the "/games_list_of_reviews receiver -->
  <select name="game[list_id]">
    <% Game.all.each do |game| %>
      <option value="<%= game.id %>"><%= game.name %></option>
    <% end %>
  </select>
  
  <button type="submit">List this Game's Reviews</button>
  
</form>

<p><a href="/home">Go to home page</a></p>