<h1>Game Management</h1>

<ul>
  <li><a href="/games_read">List Games</a></li>
  <li><a href="/games_reviews">List Reviews for Game</a></li>
  <li><a href="/games_add">Add a New Game</a></li>
  <li><a href="/games_change">Change a Game</a></li>
  <li><a href="/games_delete">Delete a Game</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>