html {
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

#hamburger_menu {
  float: right;
  width: 60px;  
}

#hamburger_menu img {
  width: 100%;
}

html {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Arial Black", Gadget, sans-serif;
}

body {
  text-align: center;
  margin: 0px;
}

nav li {
  background-color: rgb(6, 0, 229);
  border: 3px solid red;
}

.titlename {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#homenav {
  position: absolute;
  right: 74px;
  text-align: center;
  width: 200px;
  z-index: 999999;
  overflow: hidden;
}

ul {
  padding: 0px;
  line-height: 50px;
  list-style-type: none;
}

.currentpage {
  background: red;
}

a:link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  display: block;
  background-color: red;
  text-decoration: none;
}

a:active {
  display: block;
  background-color: red;
  text-decoration: none;
}

@media (min-width: 700px) {
  nav {
    float: left;
    width: 25%;
  }
  #homenav {
    width: 50%;
    display: block;
    right: 0;
  }
  .titlename {
    display: inline;
    float: left;
    width: 50%;
    margin: 20px 0 0;
    color: yellow;
  }
  .about {
    float: right;
    width: 75%;
  }
  .main_nav {
    height: 110px;
  }
  header nav li {
    width: 20%;
    float: left;
  }
  #hamburger_menu {
    display: none;
  }
}

p {
  background-color: rgb(6, 0, 229);
  margin: 10px;
  
}

input {
  width: 100%;
  height: 40px;
}

select {
  width: 100%;
  margin: 15px 0;
}

button {
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
}

.shrink_hamburger_menu {
  height: 0px;
  -webkit-transition: height 1s; /* Safari */
     transition: height 1s;
}

.grow_hamburger_menu {
  height: 320px;
  -webkit-transition: height 1s; /* Safari */
     transition: height 1s;
}

/*.nothing {
  display: none;
}*/