<h1>Game Review Repository</h1>

<ul>
  <li><a href='/genre'>Genre Management</a></li>
  <li><a href='/user'>User Management</a></li>
  <li><a href='/game'>Game Management</a></li>
  <li><a href='/review'>Review Management</a></li>
<!--<li><a href='/medium'>Medium Management</a></li> -->
</ul>