<h1>Change Genre</h1>

<p>Please ensure the genre is not tied to any games before you change it!</p>

<form action="/genre_change_in_database">
<!--This form lists each genre currently in the database, as well as allows for input
  for the new genre name.  It returns both the id, named "genre[change_id]", and the new
  genre name, called "genre[new_name]".  Sends a call to the "/genre_change_in_database"
  receiver -->
  <select name="genre[change_id]">
    <% Genre.all.each do |genre| %>
      <option value="<%= genre.id %>"><%= genre.name %></option>
    <% end %>
  </select>
  
  <input type="text" placeholder="New Genre Name" name="genre[new_name]">
  
  <button type="submit">Change this Genre</button>
  
</form>

<p><a href="/home">Go to home page</a></p>