<h1>List of <%= @genre.name %> Games</h1>

<% if @game_list == [] %>

  <p>There are no games of that Genre currently in the Database!</p>

<% else %>

<table>
  <tr>
    <th> Game ID - </th>
    <th> Game Name </th>
  </tr>
  <% @game_list.each do |game| %>
    <tr><td align='center'><%= "#{game.id}" %></td><td align='center'><%= "#{game.name}" %></td></tr>
  <% end %>
</table>

<% end %>

<p><a href="/home">Go to home page</a></p>