<header>
  <h1 class='titlename'>Game Review Repository</h1>
  <div id='hamburger_menu'><img src='hamburgericon.png' alt='hamburger icon' class='menu'></div>
  <div class='main_nav'>
    <nav id='homenav'  class='shrink_hamburger_menu'>
      <ul>
        <li><a href='/genre' class='currentpage'>Genre</a></li>
        <li><a href='/user'>User</a></li>
        <li><a href='/game'>Game</a></li>
        <li><a href='/review'>Review</a></li>
        <li><a href='/format'>Format</a></li>
      </ul>
    </nav>
  </div>
</header>

<h1>Genre Management</h1>

<div class='about'>
  <p>This is the Genre Management page.  Here you can add new game Genres, change existing ones, view what games are in each genre, or the genres themselves.  You can also delete existing genres.</p>
</div>

<nav>
  <ul>
    <li><a href="/genre_read">List Genres</a></li>
    <li><a href="/genre_games">List Games in a Genre</a></li>
    <li><a href="/genre_add">Add a New Genre</a></li>
    <li><a href="/genre_change">Change a Genre</a></li>
    <li><a href="/genre_delete">Delete a Genre</a></li>
    <li><a href="/home">Go to home page</a></li>
  </ul>
</nav>
