<h1>Genre Management</h1>

<nav>
  <ul>
    <li><a href="/genre_read">List Genres</a></li>
    <li><a href="/genre_games">List Games in a Genre</a></li>
    <li><a href="/genre_add">Add a New Genre</a></li>
    <li><a href="/genre_change">Change a Genre</a></li>
    <li><a href="/genre_delete">Delete a Genre</a></li>
    <li><a href="/home">Go to home page</a></li>
  </ul>
</nav>
