<header>
  <h1 class='titlename'>Game Review Repository</h1>
  <div class='main_nav'>
    <nav class='homenav'>
      <ul>
        <li><a href='/genre'>Genre</a></li>
        <li><a href='/user'>User</a></li>
        <li><a href='/game'>Game</a></li>
        <li><a href='/review'>Review</a></li>
        <li><a href='/format' class='currentpage'>Format</a></li>
      </ul>
    </nav>
  </div>
</header>

<h1>Format Management</h1>

<div class='about'>
  <p>This is the page dealing with Game Formats.  Here you can add new formats for games, change existing ones, and delete ones that you don't need. You can also list all the existing formats, or all games in a certain format.</p>
</div>

<nav>
  <ul>
    <li><a href="/format_read">List Formats</a></li>
    <li><a href="/format_games">List Games in a Format</a></li>
    <li><a href="/format_add">Add a New Format</a></li>
    <li><a href="/format_change">Change a Format</a></li>
    <li><a href="/format_delete">Delete a Format</a></li>
    <li><a href="/home">Go to home page</a></li>
  </ul>
</nav>