<h1>Add Format</h1>

  <p>Please fill out the form to add a format</p>
<!--This form allows for input for a new format name.  It returns the new format name, called "format[name]".  
  Sends a call to the "/format_add_to_database" receiver -->
  <form action="/format_add_to_database">
    <input type="text" placeholder="Genre Name" name="format[name]">
    
    <button type="submit">Add format</button>


<p><a href="/home">Go to home page</a></p>