<h1>Format Management</h1>

<ul>
  <li><a href="/format_read">List Formats</a></li>
  <li><a href="/format_games">List Games in a Format</a></li>
  <li><a href="/format_add">Add a New Format</a></li>
  <li><a href="/format_change">Change a Format</a></li>
  <li><a href="/format_delete">Delete a Format</a></li>
</ul>

<p><a href="/home">Go to home page</a></p>